:root{
    --bg:#12131A;
    --card-bg:#1C1F2A;
    --text:#F2F2F7;
    --secondary:#B4B7C9;
    --purple:#C99DFF;
    --orange:#FFB21E;
    --coral:#FF8A65;
    --progress:#D19BFF;
    --border:#2A2D3A;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Space Grotesk',sans-serif;
    background:var(--bg);
    color:var(--text);
    display:flex;
    justify-content:center;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:1000px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:40px;
}

.logo-container{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo{
    width:56px;
    height:56px;
    object-fit:contain;
}

.logo-container h2{
    font-size:1.3rem;
    font-weight:500;
    color:#F2F2F7;
}

.theme-toggle{
    width:48px;
    height:48px;

    background:#2A2D3A;
    border:none;
    border-radius:12px;

    color:#F2F2F7;
    font-size:1.2rem;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;
    transition:0.3s ease;
}

.theme-toggle:hover{
    background:#363a4d;
    transform:scale(1.05);
}

.theme-toggle i{
    line-height:1;
}

.hero h1{
text-align:center;
font-size:3rem;
margin-bottom:30px;
}

textarea{
width:100%;
height:180px;
background:var(--card-bg);
border:1px solid var(--border);
border-radius:16px;
color:white;
padding:20px;
resize:none;
font-size:16px;
}

.controls{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:15px;
color:var(--secondary);
flex-wrap:wrap;
gap:10px;
}

.left-controls{
display:flex;
gap:20px;
}

.stats{
display:flex;
gap:20px;
margin-top:30px;
}

.card{
flex:1;
padding:25px;
border-radius:20px;
color:#12131A;
box-shadow:0 4px 10px rgba(0,0,0,.3);

display:flex;
flex-direction:column;
justify-content:center;

min-height:140px;

transition:all .3s ease;
}

.card:hover{
transform:translateY(-5px);
}

.card h2{
font-size:4rem;
font-weight:700;
line-height:1;
}

.card p{
margin-top:10px;
}

.purple{
background-image:url("assets/images/Card violeta.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.orange{
background-image:url("assets/images/Card naranja.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.coral{
background-image:url("assets/images/Card coral.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.density{
margin-top:40px;
}

.density h2{
margin-bottom:20px;
}

.row{
display:grid;
grid-template-columns:30px 1fr 120px;
gap:15px;
align-items:center;
margin-bottom:15px;
}

.bar{
height:10px;
background:var(--card-bg);
border-radius:20px;
}

.fill{
height:100%;
background:var(--progress);
border-radius:20px;
}


